@charset "utf-8";

html{
 font-size: 62.5%;
}

body{
 color: #333;
 font-size: 1.6rem;
}

.top_image {
  position: relative;
}

.top_image p {
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
}

.top_image img {
  width: 100%;
}


h2{
 background-color: #fff; /* 背景色 */
 border: 1px solid #71CC44; /* 枠線 */
 border-right: 20px solid #005E0C; /* 右側の太い線 */
 box-shadow: 1px 1px 1px rgba(0,0,0,.1);
 color: #181818; /* 文字色 */
 padding: 10px 20px; /* 上下・左右の余白 */
 position:relative;
}
h2:after{
 box-shadow: 0 15px 10px rgba(0, 0, 0, .1); /* 付箋の影 */
 content: '';
 position: absolute;
 transform: rotate(1deg);
 -moz-transform: rotate(1deg);
 -webkit-transform: rotate(1deg);
 -o-transform: rotate(1deg);
 bottom: 15px;
 right: -3px;
 width: 85%;
 height: 10px;
 z-index: -1;
}


.error_mes {
  color: #C71585;
}


.flex-container {
  margin: auto;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-card {
  border: 1px solid;
  margin-top: 10px;
  padding-bottom: 5px; 
  text-align: center;

    padding: 0.5em 1em;
    margin: 1em 0;
    border: double 7px #4ec4d3;
}

.navbar-nav {
  margin: 0 0 0 auto;
  float: right;
}


