@charset "utf-8";

html{
 font-size: 62.5%;
}

body{
 color: #333;
 font-size: 1.6rem;
}

.top_image {
  position: relative;
}

.top_image p {
  font-size: 4rem;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
}

.top_image img {
  width: 100%;
}
