@charset "utf-8";

html{
 font-size: 62.5%;
}

body{
 color: #333;
 font-size: 1.6rem;
}


input{
  padding: 0 0.5em;
}

textarea{
  font-size: 4em;
}

.form-control::-webkit-input-placeholder{
  color:#746980;
}
.form-control:-ms-input-placeholder{
  color:#746980;
}
.form-control::-moz-placeholder{
  color:#746980;
}



.top_image {
  position: relative;
}

.top_image p {
  font-size: 3.3rem;
  color: white;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  margin:0;
  padding:0;
  /*文字の装飾は省略*/
}


.top_image img {
  width: 100%;
}


h2{
 font-size: 1.4em;
 background-color: #fff; /* 背景色 */
 border: 1px solid #71CC44; /* 枠線 */
 border-right: 20px solid #005E0C; /* 右側の太い線 */
 box-shadow: 1px 1px 1px rgba(0,0,0,.1);
 color: 47634b; /* 文字色 */
 padding: 10px 20px; /* 上下・左右の余白 */
 position:relative;
}
h2:after{
 box-shadow: 0 15px 10px rgba(0, 0, 0, .1); /* 付箋の影 */
 content: '';
 position: absolute;
 transform: rotate(1deg);
 -moz-transform: rotate(1deg);
 -webkit-transform: rotate(1deg);
 -o-transform: rotate(1deg);
 bottom: 15px;
 right: -3px;
 width: 85%;
 height: 10px;
 z-index: -1;
}

h3 .search{
  font-size: 2em;
}

h3.search:before{
  content: "";
  display: inline-block;
  width: 18px; height: 18px;
  background-image: url("/images/glass_1.gif");
  background-size: 18px;
  background-repeat:no-repeat;
  vertical-align: middle;
  padding-right: 6px;
  margin-right: 5px;
}


span.home{
  font-size: 0.7em;
  margin: 0 10px;
}

span.home:before{
  content: "";
  display: inline-block;
  width: 18px; height: 18px;
  background-image: url("/images/home_icon_1.jpg");
  background-size: 18px;
  background-repeat:no-repeat;
  vertical-align: middle;
  padding-right: 6px;
  margin-right: 5px;
}

span.ranking{
  font-size: 0.7em;
  margin: 0 10px;
}

span.ranking:before{
  content: "";
  display: inline-block;
  width: 18px; height: 18px;
  background-image: url("/images/ranking_icon_1.jpg");
  background-size: 18px;
  background-repeat:no-repeat;
  vertical-align: middle;
  padding-right: 6px;
  margin-right: 5px;
}

span.readme{
  font-size: 0.7em;
  margin: 0 10px;
}

span.readme:before{
  content: "";
  display: inline-block;
  width: 18px; height: 18px;
  background-image: url("/images/readme_icon_1.jpg");
  background-size: 18px;
  background-repeat:no-repeat;
  vertical-align: middle;
  padding-right: 6px;
  margin-right: 5px;
}






.error_mes {
  color: #C71585;
}


.flex-container {
  margin: auto;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.flex-card {
  border: 1px solid;
  margin-top: 10px;
  padding-bottom: 5px; 
  text-align: center;

    padding: 0.5em 1em;
    margin: 1em 0;
    border: double 7px #4ec4d3;
}

.navbar-nav {
  margin: 0 0 0 auto;
  float: right;
}

/* トップページソーシャルログイン */
#toppage-login {
    border: 2px solid #44BA44;
    display: block;
    padding-top: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#toppage-login .form-control{
    text-align: center;
    width: 90%;
} 





/* 汎用ソーシャルログイン */
.social-login {
  margin: 20px auto;
  color: white;
}

.social-login a {
  color: white;
}

.facebook {
  background-color: #2e4a88;
  box-shadow: 0 4px 0 #1B3D82;
  text-shadow: 0 -1px -1px #1B3D82;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
  margin: 20px 0px;
  display: block;
}
.facebook:hover {
  background-color: #354F84;
}
.facebook:active {
  top: 2px;
	box-shadow: 0 2px 0 #1B3D82;
}
.twitter {
  background-color: #008DDE;
  box-shadow: 0 4px 0 #0078BD;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
}
.twitter:active {
  top: 2px;
  box-shadow: 0 2px 0 #0078BD;
}
.twitter:hover {
  background-color: #1397D8;
}
.google {
  background-color: #CC3622;
  box-shadow: 0 4px 0 #BA2714;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 7px 20px;
}
.google:active {
  top: 2px;
  box-shadow: 0 2px 0 #BA2714;
}
.google:hover {
  background-color: #D04829;
}
/* ソーシャルログイン End */

.submit-button{
  background-color: #3490dc;
  box-shadow: 0 4px 0 #347adc;
  font-family: Arial;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 4px 20px;
}

.submit-button:active {
  top: 2px;
  box-shadow: 0 2px 0 #3466dc;
}
.submit-button:hover {
  background-color: #34a4dc;
}





